.recipe-list {
    border: 1px solid rgb(161, 147, 147);
    padding: 15px;

    &__recipes {
        color: rgb(63, 13, 13);

        &__card {
            width: 100%;
            display: flex;
            align-items: center;
            margin: 20px 0;

            &__image {
                width: 40%;
                overflow: hidden;

                img {
                    width: 100%;
                    transition: 0.5 ease;

                    &:hover {
                        transform: scale(1.2);
                    }
                }

            }

            &__description {
                padding: 10px 20px;

                p {
                    margin: 10px 0;
                    font-size: 12px;
                }

                a {
                    text-decoration: none;
                    color: rgb(73, 18, 18);
                    border-bottom: 2px solid;
                    padding-bottom: 4px;
                }
            }

        }
    }
}