.recipe-collection {
    &__title {
        text-align: center;
        margin: 2rem 0;
        font-family: cursive;
        color: rgb(150, 23, 74);
        font-size: 2.7rem;
    }

    &__recipes {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
        font-family: cursive;

        &__card {
            margin: 20px;
            width: 15rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;


            &__image {
                width: 100%;
                overflow: hidden;
                border: 2px solid #96174a;
                border-radius: 14px;

                img {
                    width: 100%;
                    transition: 0.5 ease;

                    &:hover {
                        transform: scale(1.2);
                    }
                }

            }

            &__description {
                display: flex;
                flex-direction: column;
                align-items: flex-start;


            }

            p {
                margin: 10px 0;


            }

            a {
                background: #5f293f;
                ;
                color: white;
                padding: 10px 20px;
                text-decoration: none;
                margin-top: 20px;
                border-radius: 8px;
            }

        }
    }
}