.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        margin: 2rem 0;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(243, 170, 170);
    color: rgb(35, 17, 17);
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 1rem;

    &__links {
        margin-bottom: 40px;

        a,
        button {
            text-decoration: none;
            color: gainsboro;
            text-transform: uppercase;
            margin: 10px 10px;
            background: transparent;
            border: none;
            font-size: 16px;







            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__social {
        border-top: 2px solid rgb(35, 17, 17);
        border-bottom: 2px solid rgb(35, 17, 17);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 20px 0;

        ul {
            display: flex;
            list-style: none;

            a {
                font-size: 45px;
                color: white;
                margin: 50px 50px;
            }
        }
    }

    &__copyright {
        p {
            margin: 35px 0;
        }
    }
}

.Modal {
    position: absolute;
    top: 110px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: white;
    border: 2px solid gainsboro;
    border-radius: 20px;
    padding: 30px;
    width: 500px;
    height: fit-content;
    margin: 0 auto;

    h2 {
        margin-bottom: 20px;
    }
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

.closeBtn {
    position: absolute;
    right: 30px;
    top: 30px;
    height: 30px;
    width: 30px;
    background: white;
    color: black;
    border: 2px solid gainsboro;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}