.recipe-details-header {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 0;
    background: rgb(236, 168, 168);

    &__content {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;

    }

    &__logo {
        img {
            height: 60px;
            width: 80px;
        }
    }

    &__actions {
        display: flex;
        align-items: center;

        button {
            margin: 0 5px;
            background: none;
            border: none;
            font-size: 40px;
            cursor: pointer;
            color: rgb(238, 225, 220);
            ;
        }
    }
}


.recipe-details {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;

    h3 {
        text-align: center;
        margin: 15px 0;
        text-transform: uppercase;
        font-weight: 800%;
        font-size: 20px;
        font-family: cursive;
        color: #96174a;

    }

    &__content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;


        h2 {
            font-family: cursive;
        }

        &__description {
            margin: 20px 0;
            font-size: 14px;
            color: rgb(24, 23, 23);
        }

        img {
            width: 100%;
        }

        p {
            color: gray;
            font-size: 15px;
            margin: 10px 0;
        }

    }

    &__recipesList {
        width: 30%;
    }
}